@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.container {
	border: 1px solid black;
	margin-bottom: 10px;
	background-color: #dfe6e9;
}

body {
	background-color: #b2bec3 !important;
}

.basket {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	max-width: 750px;
	flex-basis: 100%;
	margin: auto;
}

.egg {
	flex-basis: 16.666667%;
}
