@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.container {
	border: 2px solid black;
	margin-bottom: 10px;
	background-color: #dfe6e9;
}

body,
html,
.container {
	height: fit-content;
	min-height: 100%;
}

body {
	background: rgb(178, 190, 195);
	background: linear-gradient(180deg, rgba(178, 190, 195, 1) 0%, rgba(129, 236, 236, 1) 100%);
}

.basket-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	max-width: 750px;
	margin: auto;
}

.basket {
	flex-basis: 100%;
}

.egg {
	flex-basis: 16.666667%;
}

p {
	padding: 7px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Oswald, sans-serif !important;
}

.navbar {
	background: rgba(129, 236, 236, 0.5) !important;
}

.dropzone {
	height: 150px;
	width: 400px;
	border: 2px dashed black;
}
